<mat-toolbar color = "primary" class = "navbar">
    <div>
      <span>PhotographyChest</span>  
    </div>
    <div class = "btn">
        <button routerLink="/log-in" mat-raised-button color="warn">Log In</button>
      </div>
  </mat-toolbar>

<img class="img" src="https://rare-gallery.com/mocahbig/471403-Nikon-camera-desert-abstract-modern-road-digital-art.jpg">

<div>
  <h1>About our platform</h1>
</div>
<p >
  If you're a talented photographer, in need for making yourself a name and some money with your work, you've come to the right place.Also, if you're a simple potential client, in love with the art of photography, you're also in the right place for taking something home.
</p>
<br />
<p>PhotographyCrest, born from the sole passion of three young aspiring photographers that had a dream, serves exactly this very purpose: here, photographers can upload and sell their photos to directly to customers.Transactions go straight between the 2 parts of the business, our platform acting as non-invasive middleman. 
</p>
<br />
<p>
  Our managing team of photographers, that you can confidently contact for business inquiries or problems about the app, are as follows:    
</p>
  <ul>
    <li>
       David Bumba (david.bumba@photocrest.com)
    </li>
    <li>
       Eduard Biriș (eduard.biris@photocrest.com)
    </li>
    <li>
       Alexandru Șerban (alex.serban@photocrest.com)
    </li>
  </ul>


