.dtitle{
  text-align: center;
}

.img{
  display : block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  height: 300px;
  width: 300px;
}

.price{
  margin-left: 220px;
  padding:10px;
  align-items: center;

}
.actions{
  margin-top: 50px;
  display: grid;
  grid-template-columns:400px 50px;
}

.button{
  background-color: rgb(28, 177, 28);
  color: white;
}
