<mat-toolbar color = "primary" class = "navbar">
  <div>
    <span>PhotographyChest</span>
  </div>
  <div>
    <button mat-raised-button routerLink="/home" color="warn">Go back</button>
  </div>
</mat-toolbar>

<mat-table [dataSource]="dataSource" matSort>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let product; columns: displayedColumns"></mat-row>

  <ng-container matColumnDef="imgURL">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Image</mat-header-cell>
    <mat-cell *matCellDef="let product"><img class="img"  src={{product.portofolioId.photo}} alt=""></mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Order Status</mat-header-cell>
    <mat-cell *matCellDef="let product">{{product.status}}</mat-cell>
  </ng-container>


  <ng-container matColumnDef="reason">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Reason(Optional, only if canceled)</mat-header-cell>
    <mat-cell *matCellDef="let product">{{product.reason}}</mat-cell>
  </ng-container>

<!--  <ng-container matColumnDef="action">-->
<!--    <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>-->
<!--    <mat-cell *matCellDef="let product">-->
<!--      <button mat-button (click)="deleteFromCart(product.id)">Delete</button>-->
<!--      <button mat-button >Edit</button>-->
<!--    </mat-cell>-->
<!--  </ng-container>-->

</mat-table>
