<mat-toolbar color = "primary" class = "navbar">
    <div>
      <span>PhotographyChest</span>
    </div>
</mat-toolbar>
<form [formGroup]="uploadPhoto">
<mat-form-field appearance="fill">
    <mat-label>Please enter picture URL</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select category</mat-label>
    <mat-select>
      <mat-option value="1">nature</mat-option>
      <mat-option value="2">fish</mat-option>
      <mat-option value="3">mountain</mat-option>
      <mat-option value="4">urban</mat-option>
      <mat-option value="5">animals</mat-option>
     
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter price</mat-label>
     <input matInput>
  </mat-form-field>
</form>